In [3]:
import os
import numpy as np
import pandas as pd

In [4]:
#設定資料讀取路徑，並讀取資料
dir_path = '/home/edith/文件/100days-data/'
f_app_train = os.path.join(dir_path, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

### 作業
- 將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [18]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head(20)

(307511, 1)

   WEEKDAY_APPR_PROCESS_START
0                   WEDNESDAY
1                      MONDAY
2                      MONDAY
3                   WEDNESDAY
4                    THURSDAY
5                   WEDNESDAY
6                      SUNDAY
7                      MONDAY
8                   WEDNESDAY
9                    THURSDAY
10                   SATURDAY
11                     FRIDAY
12                     FRIDAY
13                   THURSDAY
14                     MONDAY
15                   SATURDAY
16                   THURSDAY
17                     MONDAY
18                     FRIDAY
19                     MONDAY

In [12]:
app_train.axes #看表格名稱

[RangeIndex(start=0, stop=307511, step=1),
 Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
        'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
        'AMT_CREDIT', 'AMT_ANNUITY',
        ...
        'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
        'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
        'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
        'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
        'AMT_REQ_CREDIT_BUREAU_YEAR'],
       dtype='object', length=122)]

In [14]:
app_train.columns #看表格名稱

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [21]:
"""
Your Code Here
"""
print('unique values of sub_train data: ',app_train['WEEKDAY_APPR_PROCESS_START'].unique())
sub_train_one_hot = pd.get_dummies(sub_train)
sub_train_one_hot.head()

unique values of sub_train data:  ['WEDNESDAY' 'MONDAY' 'THURSDAY' 'SUNDAY' 'SATURDAY' 'FRIDAY' 'TUESDAY']

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0

##### one hot enconding 就是在第一列列出所有選項內容，上面例題選項裡有星期一到星期天，第一個值為星期三，所以在星期三欄位值為1，其他都是0
 - pandas裡的get.dummies可以執行one hot enconding
 - 可參考https://www.jianshu.com/p/c324f4101785